<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if perms.app.add_lesson  %}
     <a href="{% url 'lesson-create' %} " >lesson</a>
{% else %}
<p>
    sfgvbhjn
</p>
{% endif %}
</body>
</html>